.eko-logo {
    height: 50px;
}

.eko-logo.color-monarch {
    fill: $monarch
}

.eko-logo.color-outrageous {
    fill: $outrageous
}

.eko-logo.color-mandy {
    fill: $mandy
}

.eko-logo.color-eggplant {
    fill: $eggplant
}

.eko-logo.color-electric {
    fill: $electric
}

.eko-logo.color-violet {
    fill: $violet
}

.eko-logo.color-ribbon {
    fill: $ribbon
}

.eko-logo.color-aqua {
    fill: $aqua
}

.eko-logo.color-eko {
    fill: $eko
}

.eko-logo.color-aquamarine {
    fill: $aquamarine
}

.eko-logo.color-malachite {
    fill: $malachite
}

.eko-logo.color-rose {
    fill: $rose
}

.eko-logo.color-lemon {
    fill: $lemon
}

.eko-logo.color-bright {
    fill: $bright
}

.eko-logo.studio-color-monarch .eko-studio-logo {
    fill: $monarch
}

.eko-logo.studio-color-outrageous .eko-studio-logo {
    fill: $outrageous
}

.eko-logo.studio-color-mandy .eko-studio-logo {
    fill: $mandy
}

.eko-logo.studio-color-eggplant .eko-studio-logo {
    fill: $eggplant
}

.eko-logo.studio-color-electric .eko-studio-logo {
    fill: $electric
}

.eko-logo.studio-color-violet .eko-studio-logo {
    fill: $violet
}

.eko-logo.studio-color-ribbon .eko-studio-logo {
    fill: $ribbon
}

.eko-logo.studio-color-aqua .eko-studio-logo {
    fill: $aqua
}

.eko-logo.studio-color-eko .eko-studio-logo {
    fill: $eko
}

.eko-logo.studio-color-aquamarine .eko-studio-logo {
    fill: $aquamarine
}

.eko-logo.studio-color-malachite .eko-studio-logo {
    fill: $malachite
}

.eko-logo.studio-color-rose .eko-studio-logo {
    fill: $rose
}

.eko-logo.studio-color-lemon .eko-studio-logo {
    fill: $lemon
}

.eko-logo.studio-color-bright .eko-studio-logo {
    fill: $bright
}
