//-- colors:start --//

//Neutrals
$bright: #ffffff;
$dark: #000000;

$onyx: #13151A;
$twilight: #050523;
$midnight: #00112B;
$mardi: #1f002e;
$dusty: #999999;
$dove: #666666;
$tundora: #333333;

//Accents
$monarch: #ffab19;
$outrageous: #ff5a3c;
$mandy: #e44650;
$eggplant: #960a96;
$electric: #8228fa;
$violet: #6400ff;
$ribbon: #2d50ff;
$aqua: #05f0ff;
$eko: #46f5c3;
$aquamarine: #00ff87;
$malachite: #04e24e;

//Additional accents
$rose: #ff0060;
$lemon: #f5e923;
$malibu: #00ccff;
//$ex1: #ff593d;
//$ex2: #9500ff;

//vendors
$facebook: #3b5998;
$twitter: #5ea9dd;

//-- colors:end --//
