//-- typo:start --//
$font-light: Stolzl-Light, "Helvetica Neue", Helvetica, Arial, sans-serif; //300
$font-regular: Stolzl-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif; //300
$font-bold: Stolzl-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif; //300
$font-default: Montserrat, sans-serif; //400 ,700
//-- typo:end --//
